In [375]:
import mysql.connector as sql
import pandas as pd
from mysql.connector import Error

## Problem Statement 18:

In [376]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = sql.connect(host=host_name, user=user_name, passwd=user_password)
        print("MySQL Database connection successful")
    except Error as err:
        print(f"The error '{err}' occurred")

    return connection

pw = "Pratham123***"
connection = create_server_connection("localhost", "root", pw)

MySQL Database connection successful

In [377]:
def create_db(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"The error '{err}' occurred")


connection = create_db(connection, "CREATE DATABASE if not exists healthcare_db")

Database created successfully

In [378]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = sql.connect(host=host_name, user=user_name, passwd=user_password, database=db_name)
        print("MySQL Database connection successful")
    except Error as err:
        print(f"The error '{err}' occurred")

    return connection

connection = create_db_connection("localhost", "root", pw, "healthcare_db")

MySQL Database connection successful

In [379]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"The error '{err}' occurred")

In [380]:
def run_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        columns = [column[0] for column in cursor.description]
        df = pd.DataFrame(result, columns=columns)
        return df
    except Error as err:
        print(f"The error '{err}' occurred")

In [381]:
execute_query(connection, "USE healthcare_db")

Query successful

In [382]:
execute_query(connection, """CREATE TABLE IF NOT EXISTS census (
    District VARCHAR(255),
    State_UT VARCHAR(255),
    Population INT,
    Male INT,
    Female INT,
    Literate INT,
    Literate_Male INT,
    Literate_Female INT,
    Households_Rural INT,
    Households_Urban INT,
    Households INT,
    Young_and_Adult INT,
    Middle_Aged INT,
    Senior_Citizen INT,
    Age_Not_Stated INT,
    PRIMARY KEY (District)
);""")

Query successful

In [383]:
execute_query(connection, """CREATE TABLE IF NOT EXISTS housing(
District VARCHAR(255),
    Households_Rural INT,
    Households_Rural_Livable INT,
    Households_Rural_Dilapidated INT,
    Households_Rural_Toilet_Premise INT,
    Households_Urban INT,
    Households_Urban_Livable INT,
    Households_Urban_Dilapidated INT,
    Households_Urban_Toilet_Premise INT,
    PRIMARY KEY (District),
    FOREIGN KEY (District) REFERENCES census(District)
);
""")

Query successful

In [384]:
execute_query(connection, """
              CREATE TABLE IF NOT EXISTS all_hospitals(
    State_UT VARCHAR(255),
    Number_of_Primary_Health_Centers_PHCs INT,
    Community_Health_Centers_CHCs INT,
    Sub_District_Divisional_Hospitals_SDHs INT,
    District_Hospitals_DHs INT,
    Hospitals INT,
    HospitalBeds INT,
    PRIMARY KEY (State_UT)
);
""")

Query successful

In [385]:
execute_query(connection,""" CREATE TABLE IF NOT EXISTS government_hospital (
    State_UT VARCHAR(255),
    Rural_Government_Hospitals INT,
    Rural_Government_Beds INT,
    Urban_Government_Hospitals INT,
    Urban_Government_Beds INT,
    Last_Updated DATE,
    PRIMARY KEY (State_UT),
    FOREIGN KEY (State_UT) REFERENCES all_hospitals(State_UT)
);""")

Query successful

## Problem Statement 19:

In [386]:
run_query(connection, """SELECT *
FROM census
INNER JOIN housing ON census.District = housing.District
INNER JOIN all_hospitals ON census.`State_UT` = all_hospitals.`State_UT`
INNER JOIN government_hospital ON all_hospitals.`State_UT` = government_hospital.`State_UT`
LIMIT 3""")

,District,State_UT,Population,Male,Female,Literate,Literate_Male,Literate_Female,Households_Rural,Households_Urban,...,Sub_District_Divisional_Hospitals_SDHs,District_Hospitals_DHs,Hospitals,HospitalBeds,State_UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated
0,Ahmadabad,Gujarat,7214225,3788051,3426174,5435760,3025463,2410297,353169,1845383,...,44,37,2236,41129,Gujarat,364,11715,122,20565,2016-12-31
1,Ahmadnagar,Maharashtra,4543159,2342825,2200334,3151890,1773355,1378535,1041393,282011,...,101,70,3239,68998,Maharashtra,273,12398,438,39048,2015-12-31
2,Ajmer,Rajasthan,2583052,1324085,1258967,1526673,926268,600405,409335,274919,...,64,33,3139,51844,Rajasthan,602,21088,150,10760,2016-12-31

## Problem Statement 21

In [387]:
execute_query(connection, """
              DROP FUNCTION IF EXISTS get_population_district;
              """)

Query successful

In [388]:
execute_query(connection, """
              CREATE FUNCTION IF NOT EXISTS get_population_district(district_name TEXT)
              RETURNS INT
              DETERMINISTIC
              BEGIN
              DECLARE result INT;
              SELECT Population INTO result FROM census WHERE District = district_name;
              RETURN result;
              END;
              """)

Query successful

In [389]:
run_query(connection, "SELECT get_population_district('Ahmadabad')")

   get_population_district('Ahmadabad')
0                               7214225

In [390]:
execute_query(connection, """
              DROP FUNCTION IF EXISTS get_population_state;
              """)

Query successful

In [391]:
execute_query(connection,"""
              CREATE FUNCTION IF NOT EXISTS get_population_state(state_name TEXT)
RETURNS INT
DETERMINISTIC
BEGIN
    DECLARE result INT;
    SELECT SUM(Population) INTO result
    FROM census
    WHERE State_UT = state_name
    GROUP BY State_UT;
    RETURN COALESCE(result, 0);
END;
              """)

Query successful

In [392]:
run_query(connection, "SELECT get_population_state('Gujarat');")

   get_population_state('Gujarat')
0                         58404628

In [393]:
execute_query(connection, """
              DROP FUNCTION IF EXISTS senior_citizen_population;
              """)

Query successful

In [394]:
execute_query(connection, """
              CREATE FUNCTION IF NOT EXISTS senior_citizen_population(district_name TEXT)
              RETURNS INT
              DETERMINISTIC
              BEGIN
              DECLARE result INT;
              SELECT SUM(Senior_Citizen) INTO result FROM census WHERE District = district_name;
              RETURN result;
              END;
              """)

Query successful

In [395]:
run_query(connection, "SELECT senior_citizen_population('Ahmadabad')")

   senior_citizen_population('Ahmadabad')
0                                 1198152

In [396]:
execute_query(connection, """
              DROP FUNCTION IF EXISTS get_hospital_beds;
              """)

Query successful

In [397]:
execute_query(connection, """
              CREATE FUNCTION IF NOT EXISTS get_hospital_beds(state_name TEXT)
              RETURNS INT
              DETERMINISTIC
              BEGIN
              DECLARE result INT;
              SELECT HospitalBeds INTO result FROM all_hospitals WHERE State_UT = state_name;
              RETURN result;
              END;
              """)

Query successful

In [398]:
run_query(connection, "SELECT get_hospital_beds('Gujarat');")

   get_hospital_beds('Gujarat')
0                         41129

In [399]:
execute_query(connection, "DROP FUNCTION IF EXISTS get_govt_hospital_beds;")

Query successful

In [400]:
execute_query(connection, """
              CREATE FUNCTION IF NOT EXISTS get_govt_hospital_beds(state_name TEXT)
              RETURNS INT
              DETERMINISTIC
              BEGIN
              DECLARE result INT;
              SELECT Urban_Government_Beds+Rural_Government_Beds INTO result FROM government_hospital WHERE State_UT = state_name;
              RETURN result;
              END;
              """)

Query successful

In [401]:
run_query(connection, "SELECT get_govt_hospital_beds('Gujarat');")

   get_govt_hospital_beds('Gujarat')
0                              32280

In [402]:
execute_query(connection, "DROP FUNCTION IF EXISTS beds_per_lakh;")

Query successful

In [403]:
execute_query(connection, """
              CREATE FUNCTION IF NOT EXISTS beds_per_lakh(state_name TEXT)
              RETURNS FLOAT
              DETERMINISTIC
              BEGIN
              DECLARE result FLOAT;
              SELECT (get_hospital_beds(state_name)/(get_population_state(state_name))*100000) INTO result;
              RETURN result;
              END;
              """)

Query successful

In [404]:
run_query(connection, "SELECT beds_per_lakh('Gujarat');")

   beds_per_lakh('Gujarat')
0                   70.4207

In [405]:
execute_query(connection, "DROP FUNCTION IF EXISTS govt_beds_per_lakh;")

Query successful

In [406]:
execute_query(connection, """
              CREATE FUNCTION IF NOT EXISTS govt_beds_per_lakh(state_name TEXT)
              RETURNS FLOAT
              DETERMINISTIC
              BEGIN
              DECLARE result FLOAT;
              SELECT (get_govt_hospital_beds(state_name)/(get_population_state(state_name))*100000) INTO result;
              RETURN result;
              END;
              """)

Query successful

In [407]:
run_query(connection, "SELECT govt_beds_per_lakh('Gujarat');")

   govt_beds_per_lakh('Gujarat')
0                        55.2695